<nav class="desk">
    <ul role="list" class="desk-nav"></ul>
    <a href="" class="nav-item-desk">Home</a>
    <a href="" class="nav-item-desk">Anime</a>
    <a href="" class="nav-item-desk">Manga</a>
    </ul>

</nav>