<nav class="desk">
    <header class="main-header" role="banner">
        <div class="nav-items">
            <ul role="list" class="desk-nav">
                <li>
                    <a href="Home" class="nav-item-desk">Home</a>
                </li>
                <li>
                    <a href="" class="nav-item-desk">Anime</a>
                </li>
                <li>
                    <a href="blogs" class="nav-item-desk">Manga</a>
                </li>
            </ul>

        </div>
    </header>


</nav>