<nav class="desk">
    <div class=nav-items>
        <ul role="list" class="desk-nav"></ul>
        <a href="" class="nav-item-desk">Home</a>
        <a href="" class="nav-item-desk">Anime</a>
        <a href="" class="nav-item-desk">Manga</a>
    </div>
    </ul>

</nav>