html, body,*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing:border-box;
    text-align: center;

}
.nav-item-desk{
    font-size: 5rem;
    color: white;
    text-decoration: none; 
    display: inline;
    justify-content: space-between;
    top: 20px;
 
}
.desk-nav{
    display: flex;
    justify-content: space-evenly;

}

body{
    background-color:#161616;
}
h1{
    color:white;
    font-size: 10rem;
}
.main-header{
    background-color:#2f2f2f;
}
.nav-items{
    padding-top: 15px;
    padding-bottom: 15px;
}
.mainbutton{
    font-size: 50px;
    color: white;
    text-decoration: none; 
    display: inline;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.posts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.questions{
    padding:4rem;
    color:white;
}
.question{
    padding:1rem;
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.answer{
    font-size: 2rem;
    color: #A3B0B7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.img{
margin-top: 4rem;
}
.articles{
    text-align: center;
    color: white;
}
.animetitle{
    margin-bottom: 5rem;
}
.animepost{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin:auto 60.8rem;

    
}
h2{
    color: white;
    font-size: 7rem;
}
.title{
    margin-bottom: 5rem;
}
.post{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

} 
