
body,
html,
* {
margin:0;
padding:0;
font-size:10 px;
box-sizing: border-box;
background: #161616;
}
h1 {
  position: absolute;
  width: 328px;
  height: 53px;
  left: 18px;
  top: 126px;

  font-family: Sansita;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: center;
  text-shadow: 2px 1px 5px #def;
  color: #FFFFFF;
}

.ellipse2{
  background-color: #2F2F2F;
  height: 130px;
  width: 200px;
  border-radius: 50%;
  grid-column: 1 / 3;
  grid-row: 1;
  position: absolute; 
  left: 23%;
  top:-10px;
}

.ellipse1{
  background-color: #2F2F2F;
  height: 130px;
  width: 200px;
  border-radius: 50%;
  grid-column: 3;
  grid-row: 4;
position: absolute;
top:-20px;
left:-50px;
}

.ellipse3{
  background-color: #2F2F2F;
  height: 130px;
  width: 200px;
  border-radius: 50%;
  grid-column: 3;
  grid-row: 4;
position: absolute;  
left: 60%; 
top:-20px;
}
.topbanner{
  background-color: #2F2F2F;
  height: 70px;
  width: 480px;
}