<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    {% include 'nav.njk'%}
    <h1 class="animetitle">Anime</h1>
    {%- for post in collections.post -%}
    <article class="articles">
        <div class="article-text">
            <a href="{{post.data.url}}"><img src="{{post.data.animeimg}}" class="image"></a>
            <h3 class="article-title">{{post.data.anime}}</h3>

        </div>

    </article>
    {%- endfor -%}
</body>

</html>