<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    {% include 'nav.njk'%}
    <h2 class="title">Anime</h2>
    <ul class="animepost">
        {%- for post in collections.post -%}
        <article class="article">
            <div class="article-text">
                <a href="{{post.url}}"><img src="{{post.data.animeimg}}" class="image"></a>
                <h3 class="article-title">{{post.data.anime}}</h3>

            </div>

        </article>

        {%- endfor -%}
    </ul>
</body>

</html>