<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    {% include 'nav.njk'%}
    <header class="header">
        <div class="header-image">

        </div>
        <div>
            <h1>MyAnimeRating</h1>
        </div>

    </header>
    <img src="/img/anime banner2.png" style="width:30%;">

    <div>
        <a href="main" class="mainbutton">View Main Page</a>
    </div>
    <div class="questions">
        <div>
            <h2 class="question">What is this site?</h2>
            <h3 class="answer">On this website I will rate anime and mangas I have read. Note these ratings are my
                personal opinions.
            </h3>
        </div>
        <div>
            <h2 class="question">How the rating works</h2>
            <h3 class="answer">I will rate them out of 10 in 5 categories and the average is my rating.</h3>
        </div>
    </div>
</body>

</html>